@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-navy: #0C133A;
  --color-brand-navy-light: #222A68;
  --color-brand-blue: #2A4494;
  --color-brand-seafoam: #57CC99;
  --color-brand-seafoam-light: #C1ECD9;
  --color-brand-gold: #FFC362;
  
  --font-satoshi: 'Satoshi', sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

:root {
  --background: #F9F9F9;
  --foreground: #0C133A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}
